*{
    background-color: floralwhite;
}

.h1,
.foods{
    text-align: center;
    color: cadetblue;
    margin-bottom: 50px;
}

.h1{
    font-size: 42px;
}

.foods{
    font-size: 20px;
}

.main{
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image, .main{
    width: 80vw;
    height: 80vh;
}

.recipe {
    width: 10vw;
    height: 20vh;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
}

.recipe:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 black;
}

.recipe:active{
    transform: translateY(5px);
}


.text{
    font-size: 24px;
}

.home{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    text-align: center;
    border: 1px solid black;
    border-style:dotted;
    background-color: aliceblue;
    padding: 5px;
    border: 2px double black;
}

.foods{
    display: flex;
    justify-content: center;
}
