.h1,
.foods{
    text-align: center;
    color: cadetblue;
    background-color: blanchedalmond;
}

.h1{
    font-size: 42px;
}

.foods{
    font-size: 20px;
}

.main{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    background-color: blanchedalmond;
}